In [1]:
from banks import Bank, BanksLoader

#bank = Bank(450000036,1326,'АЛЬФА-БАНК')
bank = Bank(450000370,2306,'Абсолют Банк')

In [3]:
cl = BanksLoader().load_closed()

Processed 2 of 50...

In [4]:
from banks import Bank

In [36]:
f[['Н1.0', 'Н1.1', 'Н1.2', 'Н1.3', 'Н10.1', 'Н12', 'Н15',
       'Н15.1', 'Н16', 'Н16.1', 'Н16.2', 'Н18', 'Н2', 'Н3', 'Н4', 'Н7', 'Н9.1',]]

,Н1.0,Н1.1,Н1.2,Н1.3,Н10.1,Н12,Н15,Н15.1,Н16,Н16.1,Н16.2,Н18,Н2,Н3,Н4,Н7,Н9.1
1,1279.0,1034.0,1034.0,0.0,111.0,105.0,0.0,0.0,0.0,0.0,0.0,0.0,5853.0,8426.0,8362.0,32393.0,0.0