In [1]:
from banks import Bank, BankScraper

In [7]:
bs = BankScraper(10)

Pool size: 10

In [3]:
bs = bs.get_banks()
bs.to_csv()

Loading active banks...
Done! Time spent: 6 sec.

Loading closed banks...
(2499, 6)
Done! Time spent: 6 sec.

Loading descriptions for 2499 closed banks...Wait a while!
(2498, 4)
(2499, 9)
Done! Time spent: 160 sec.

In [8]:
bs.from_csv()

## Closed banks:

In [9]:
bs.closed_banks.tail()

,bank,license_number,reason,date_of_closing,city,link,id,name,reason_of_closing
2494,Сасовобанк,862,ликв.,28.12.1991,"Сасово, Рязанская обл.",/banks/memory/bank/?id=217070,-1,Сасовобанк,NaN
2495,Содружество,556,ликв.,28.12.1991,—,/banks/memory/bank/?id=209141,-1,Содружество,NaN
2496,Александр Невский,1179,ликв.,28.12.1991,"пгт.Александр Невский, Рязанская обл.",/banks/memory/bank/?id=238326,-1,Александр Невский,NaN
2497,"Конверсия, Реконструкция и Развитие",472,отозв.,11.07.1991,Москва,/banks/memory/bank/?id=206345,-1,"Конверсия, Реконструкция и Развитие",В результате проверки положения дел коммерческ...
2498,Универсал,244,отозв.,22.01.1991,Томск,/banks/memory/bank/?id=203724,-1,Универсал,Пpоведенная в мае 1990 г. пpовеpка текущего со...

## Active banks:

In [7]:
bs.active_banks.head()

          id license_number          name
2  400000027           3309        21 ВЕК
3  450000370           2306  АБСОЛЮТ БАНК
4  450000785           2879      АВАНГАРД
5  920000004            415         АВЕРС
6  920000023           1455  АВТОГРАДБАНК

In [10]:
bank1 = Bank(450000036,1326,'АЛЬФА-БАНК')
print(bank1.name)

bank2 = bs.closed_banks_list[55]
print(bank2.license_number)

bank3 = bs.active_banks_list[0]
print(bank3)

АЛЬФА-БАНК
3422
(400000027) Лиц. № 3309 - 21 ВЕК

In [1]:
from banks import Bank, BankScraper
from banks.forms import Form101, Form102

In [2]:
bank = Bank(450000036,1326,'АЛЬФА-БАНК')
f = Form102(bank)

In [5]:
f.Доходы.По_банковским_операциям_и_другим_сделкам.Процентные_Доходы.По_депозитам_клиентов___физических_лиц.income_sum()

AttributeError: 'FormUnit' object has no attribute 'assets'

In [4]:
f.to_dataframe()

,10207,10601,10602,10603,10605,10609,10610,10701,10801,20202,...,98050,98053,98055,98060,98065,98070,98080,98090,date,bank
0,59587623.0,2403788.0,1810961.0,1090204.0,1665935.0,102165.0,480812.0,2979381.0,116879083.0,44098326.0,...,6.649309e+14,0.0,830250.0,95554701.0,0.0,2.040101e+11,0.0,4085666.0,2016-01-01,450000036
1,59587623.0,2403788.0,1810961.0,1210699.0,1320329.0,102165.0,480812.0,2979381.0,116879083.0,31104126.0,...,6.649309e+14,0.0,831493.0,95345970.0,0.0,2.449697e+11,0.0,4085666.0,2016-02-01,450000036
2,59587623.0,2403785.0,1810961.0,1300518.0,592720.0,102165.0,480812.0,2979381.0,116879085.0,30141725.0,...,6.649309e+14,0.0,834429.0,108881095.0,0.0,1.966642e+11,0.0,1755757.0,2016-03-01,450000036
3,59587623.0,2403785.0,1810961.0,2008985.0,281619.0,115146.0,480758.0,2979381.0,116879031.0,28493640.0,...,6.649311e+14,0.0,959089.0,108837759.0,0.0,1.868732e+11,0.0,1755757.0,2016-04-01,450000036
4,59587623.0,2403785.0,1810961.0,2633901.0,247295.0,21814.0,848044.0,2979381.0,116879030.0,32130165.0,...,6.649310e+14,0.0,985003.0,109006458.0,0.0,2.487299e+11,0.0,1755757.0,2016-05-01,450000036