# Как это вообще работает?

...

## Класс Bank

In [1]:
from banks import Bank

Данный класс представляет собой

In [2]:
from banks import BankScraper

In [3]:
bs = BankScraper(10) # Инициализируем скрапер с необходимым размером пула
try:
    bs.from_csv() # Если ранее данные были загружены
except:
    bs = bs.get_banks() # Загружаем банки
    bs.to_csv() # Сохраняем в рабочую дириекторию

Pool size: 10

## Closed banks:

In [3]:
bs.closed_banks.ix[1]

bank                                                           Транзит
license_number                                                  2688-К
reason                                                          отозв.
date_of_closing                                             07.09.2016
city                                                         Махачкала
link                                    /banks/memory/bank/?id=9209403
id                                                           820000037
name                 ООО «Расчетная небанковская кредитная организа...
reason_of_closing    Решение о применении крайней меры воздействия ...
Name: 1, dtype: object

## Active banks:

In [ ]:
bs.active_banks.head()

In [ ]:
bank1 = Bank(450000036,1326,'АЛЬФА-БАНК')
print(bank1.name)

bank2 = bs.closed_banks_list[55]
print(bank2.license_number)

bank3 = bs.active_banks_list[0]
print(bank3)

In [3]:
f.fill(5)

In [4]:
f.to_dataframe()

,0,100,101,102,103,104,104.1,104.2,104.2.1,104.2.2,...,210,300,301,302,400,501,502,503,date,bank
0,0.0,0.0,59587623.0,1810961.0,2979381.0,22274035.0,35242.0,-1269608.0,-3150981.0,1881373.0,...,79370212.0,0.0,16.0,0.0,199967576.0,0.0,0.0,0.0,2014-01-01,450000036
1,0.0,0.0,59587623.0,1810961.0,2979381.0,0.0,0.0,0.0,0.0,0.0,...,87752198.0,0.0,18.0,0.0,209116083.0,0.0,0.0,0.0,2014-02-01,450000036
2,0.0,0.0,59587623.0,1810961.0,2979381.0,0.0,0.0,0.0,0.0,0.0,...,89506099.0,0.0,0.0,0.0,210901396.0,0.0,0.0,0.0,2014-03-01,450000036
3,0.0,0.0,59587623.0,1810961.0,2979381.0,0.0,0.0,0.0,0.0,0.0,...,90343539.0,0.0,98.0,0.0,211718666.0,0.0,0.0,0.0,2014-04-01,450000036
4,0.0,0.0,59587623.0,1810961.0,2979381.0,54909649.0,130941.0,-5035152.0,-6102572.0,1067420.0,...,103762104.0,0.0,84.0,0.0,274365379.0,0.0,0.0,0.0,2015-01-01,450000036

# Работа с формами отчётности

Далее выгрузим все имеющиеся в формы отчётности в pandas формате. 

Импортируем соответствующие классы:

In [4]:
from banks.forms import Form101, Form102, Form123 # , Form135

Каждый из импортируемых классов представляет структуру формы и позволяет получать информацию о её основных разделах (аттрибутах класса). На примере формы 101:

In [19]:
bank = Bank(350000004,1481,'Сбербанк России')
form101 = Form101(bank)
form101.struct.head()

,number,name,section,part,account_type
0,10207,Уставный_капитал_кредитных_организаций_созданн...,balance_accounts,Уставный_капитал_кредитных_организаций,П
1,10601,Прирост_стоимости_основных_средств_при_переоценке,balance_accounts,Добавочный_капитал,П
2,10602,Эмиссионный_доход,balance_accounts,Добавочный_капитал,П
3,10603,Положительная_переоценка_ценных_бумаг_имеющихс...,balance_accounts,Добавочный_капитал,П
4,10605,Отрицательная_переоценка_ценных_бумаг_имеющихс...,balance_accounts,Добавочный_капитал,А

Строки обозначают отдельные счета и информацию об их классификации - балансовый/внебалансовый, актив/пассив и т.д.. Например, получить только вклады физ. лиц можно следующим образом:

In [20]:
form101.balance_accounts.\
Депозиты_и_прочие_привлеченные_средства_физических_лиц.accounts

[42301 (П) - Депозиты_до_востребования,
 42303 (П) - Депозиты_на_срок_от_31_до_90_дней,
 42304 (П) - Депозиты_на_срок_от_91_до_180_дней,
 42305 (П) - Депозиты_на_срок_от_181_дня_до_1_года,
 42306 (П) - Депозиты_на_срок_от_1_года_до_3_лет,
 42307 (П) - Депозиты_на_срок_свыше_3_лет,
 42309 (П) - Прочие_привлеченные_средства_до_востребования,
 42310 (П) - Прочие_привлеченные_средства_на_срок_до_30_дней,
 42311 (П) - Прочие_привлеченные_средства_на_срок_от_31_до_90_дней,
 42312 (П) - Прочие_привлеченные_средства_на_срок_от_91_до_180_дней,
 42313 (П) - Прочие_привлеченные_средства_на_срок_от_181_дня_до_1_года,
 42314 (П) - Прочие_привлеченные_средства_на_срок_от_1_года_до_3_лет,
 42315 (П) - Прочие_привлеченные_средства_на_срок_свыше_3_лет]

При инициализации форма не содержит в себе каких-либо реальных данных, кроме структуры. Чтобы скачать данные воспользуемся методом fill(), которые в качестве аргумента принимает количество форм, которые необходимо загрузить, начиная с последней отчётной даты:

In [21]:
form101.fill(4)

После заполнения, форма будет содержать в себе даты и остатки на счетах. Для иллюстрации вернёмся к предыдущему примеру:

In [32]:
print(form101.balance_accounts.\
      Депозиты_и_прочие_привлеченные_средства_физических_лиц.\
      liabilities_sum())
# Аналогично кредитный портфель
print(form101.balance_accounts.\
      Кредиты_и_прочие_средства__предоставленные_физическим_лицам.\
      assets_sum())

32897269917.0
15902553944.0

У формы так же есть метод to_dataframe(), преобразующий её (или её часть) в pandas формат:

In [33]:
form101.to_dataframe().head()

,10207,10601,10602,10603,10605,10609,10610,10701,10801,20202,...,98050,98053,98055,98060,98065,98070,98080,98090,date,bank
0,67760844.0,78968809.0,228054226.0,17240485.0,63667775.0,0.0,5989242.0,3527429.0,1.790493e+09,291979263.0,...,1.684519e+11,0.0,492550000.0,1.149105e+11,0.0,2.991089e+11,0.0,0.0,2016-01-01,350000004
1,67760844.0,78758814.0,228054226.0,18268426.0,66668867.0,0.0,5989242.0,3527429.0,1.775118e+09,198392459.0,...,1.682062e+11,0.0,492550000.0,1.128779e+11,0.0,2.270543e+11,175000.0,0.0,2016-02-01,350000004
2,67760844.0,78672247.0,228054226.0,24975942.0,52145280.0,0.0,5989223.0,3527429.0,1.775206e+09,195284383.0,...,1.681294e+11,0.0,442550000.0,1.145520e+11,0.0,1.833423e+11,0.0,0.0,2016-03-01,350000004
3,67760844.0,78489935.0,228054226.0,31303853.0,36714800.0,0.0,12609427.0,3527429.0,1.770314e+09,164781945.0,...,1.691009e+11,0.0,442550000.0,1.159904e+11,0.0,1.915309e+11,0.0,0.0,2016-04-01,350000004

Работа с другими формами осуществляется аналогичным образом. Теперь можно выгрузить ВСЕ имеющиеся 101-е формы :) У меня это заняло довольно много времени.

In [ ]:
from multiprocessing import Pool, cpu_count
import pandas as pd

# Объединим вместе открытые и закрытые
all_banks = bs.closed_banks_list + bs.active_banks_list

def load_form(bank, form = Form101, first_n = None):
    print("{0} - {1}".format(bank.bank_id, bank.name))
    try:
        return form(bank).fill(first_n).to_dataframe()
    except:
        return pd.DataFrame()

with Pool(processes=cpu_count()) as pool:
    results = pool.map(
        load_form,
        all_banks,
    )

450001091 - Роспромбанк
450000210 - Ренессанс
50000023 - Далта-Банк
450057623 - Финансовые услуги
840000004 - Эл Банк
110000003 - Строительно-Коммерческий Банк
360000006 - Волжский Социальный Банк
450000246 - Кредитимпэкс Банк
710000021 - Пурпе
450000384 - Огни Москвы
820000029 - МГБ
450039644 - Коммерческий Банк Развития
30000025 - Траст Капитал Банк
850000001 - Кредитбанк
450000869 - Контраст-Банк
450000338 - Мострансбанк
450000428 - Пробизнесбанк
820000092 - Нафтабанк
450000449 - Навигатор
450057048 - Н-Банк
750000017 - Таурус Банк
450001092 - ФДБ
512023773 - Ютикпэй
450001029 - Универсальный кредит
750000014 - Ураллига
820000037 - Транзит
820000068 - Банк МБФИ
800000011 - Народный кредит
410000003 - Выборг-Банк
450035159 - Единственный
450039654 - Интерактивный Банк
450000303 - Мастер-Банк
450001028 - Еврокредит
450054197 - Атлас Банк
220000027 - Финансово-Расчетный Центр
450000147 - Первый Республиканский Банк
70000035 - Зеленокумская
600000024 - Донинвест
450000503 - Инвестиционный Республиканский Банк
270000018 - Балтика
450056672 - Идеалбанк
360000018 - Волго-Камский Банк
400000002 - Ганзакомбанк
450000753 - Азия Банк
450000533 - Банк Расчетов и Сбережений
600000021 - Стелла-Банк
820000020 - Эсидбанк
400000005 - Тетраполис
460000001 - Стройиндбанк
640000014 - Тихоокеанский Внешторгбанк
450039454 - Местный Кредит
360000004 - Ипозембанк
450001085 - Далетбанк
450000282 - Транскредитбанк
700000002 - Тульский Промышленник
360000024 - Приоритет
450000624 - Национальный Банк Развития Бизнеса
450000138 - Океан Банк
600000004 - РУБанк
450000270 - Транснациональный Банк
450000221 - Связной Банк
450000522 - Западный
360000007 - ИпоТек Банк
450001043 - Союзпромбанк
450000717 - Пульс Столицы
710000048 - Ханты-Мансийский банк Открытие
450001076 - АМБ Банк
400000021 - КИТ Финанс Инвестиционный Банк
110000005 - Северная Клиринговая палата
700000010 - Первый Экспресс
450000216 - Тандем
450000636 - Кроссинвестбанк
710000010 - Нота-Банк
450000903 - Спецсетьстройбанк
360000014 - ФИА-Банк
450000787 - Мосстройэкономбанк (М Банк)
460000030 - Принтбанк
460000008 - Промсбербанк
280000001 - Первый депозитный
800000013 - АФ Банк
900000009 - Банк Развития Региона
600000013 - Максимум
810000006 - БайкалБанк
650000030 - Банк24.ру
530000006 - НСТ-Банк
280000006 - Тверской Коммерческий Банк «КБЦ»
450000386 - Конгресс-Банк
820000064 - Каспий
920000016 - Соверен Банк
820000001 - Дагэнергобанк
350000001 - Российский Кредит
450039291 - Национальный Республиканский Банк
800000006 - Мой Банк. Ипотека
450001171 - Витязь
840000003 - Майма
70000005 - ГРиС-Банк
450001135 - Интрастбанк
450000926 - Сведбанк
512017999 - Дельта Кей
450001126 - СБ Банк (Судостроительный банк)
870000002 - Банк Город
910000001 - Интеррасчет
650000023 - Сберинвестбанк
500000001 - Сибирский Расчетный Центр
70000009 - Русский Трастовый Банк
450041918 - Трастовый Республиканский Банк
460000006 - Пушкино
512031471 - Агентство Кредитных Гарантий
600000001 - Тайм Банк
450000293 - Басманный
450000010 - Банк РСБ 24 (Русславбанк)
820000027 - Бизнесбанк
450053658 - Межотраслевая Банковская Корпорация
450000369 - Совинком
710000022 - Приполярком
450041925 - Смартбанк

In [7]:

forms_101 = pd.DataFrame()

counter = 1
total_spent = 0



for bank in :
    start_time = time.time()

    
    # TODO: DRY
    print('Form 101...', end = ' ')
    
    form_101 = pd.concat([form_101,f_101])

    counter += 1
print('Total spent - %d sec' % total_spent)