In [1]:
from banks import Bank, BankScraper

In [2]:
bs = BankScraper()

Pool size: 4

In [3]:
bs = bs.get_banks()
bs.to_csv()

Loading active banks...

Loading closed banks...

Loading descriptions for 2498 closed banks...Wait a while!
Done! Time spent: 530 sec.

In [3]:
bs.from_csv()

## Closed banks:

In [4]:
bs.closed_banks.tail()

,bank,license_number,reason,date_of_closing,city,link,id,name,reason_of_closing
396,Империя,2535,отозв.,14.12.2010,Москва,/banks/memory/bank/?id=2515558,450000485,ООО «Банк Империя»,Лицензия отозвана в связи с неисполнением банк...
397,Приватхолдингбанк,3372,отозв.,14.12.2010,Москва,/banks/memory/bank/?id=2515566,450039448,ООО «Коммерческий банк «ПриватХолдингБанк»,Лицензия отозвана в связи с неисполнением банк...
398,Транштрейд (НКО),2676-К,отозв.,14.12.2010,Махачкала,/banks/memory/bank/?id=2515707,820000025,ООО «Расчетная небанковская кредитная организа...,Лицензия отозвана в связи с неисполнением неба...
399,Славянский Банк,383,отозв.,03.12.2010,Москва,/banks/memory/bank/?id=2479702,450000668,ЗАО «Акционерный коммерческий банк «Славянский...,Лицензия отозвана в связи с неисполнением банк...
400,Традо-Банк,1065,отозв.,03.12.2010,Москва,/banks/memory/bank/?id=2479721,460000005,ЗАО «Акционерный коммерческий банк «Традо-Банк»,Лицензия отозвана в связи с неисполнением банк...

## Active banks:

In [5]:
bs.active_banks.head()

          id  license_number          name
0  400000027            3309        21 ВЕК
1  450000370            2306  АБСОЛЮТ БАНК
2  450000785            2879      АВАНГАРД
3  920000004             415         АВЕРС
4  920000023            1455  АВТОГРАДБАНК

In [8]:
bank1 = Bank(450000036,1326,'АЛЬФА-БАНК')
print(bank1.name)

bank2 = bs.closed_banks_list[55]
print(bank2.license_number)

bank3 = bs.active_banks_list[0]
print(bank3)

АЛЬФА-БАНК
2167
(400000027) Лиц. № 3309 - 21 ВЕК